<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<context-param>
<context-name>abc</context-name>
<context-value>12345</context-value>
</context-param>

<context-param>
<context-name>driver</context-name>
<context-value>com.mysql.jdbc.Driver</context-value>
</context-param>

<context-param>
<context-name>url</context-name>
<context-value>jdbc:mysql://localhost:3306/minorproject","root","root"</context-value>
</context-param>

<servlet>
<servlet-name>Task</servlet-name>
<servlet-class>com.bytecoder.DetailAuth</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Task</servlet-name>
<url-pattern>Firstpage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Task2</servlet-name>
<servlet-class>com.bytecoder.FetchData</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Task2</servlet-name>
<url-pattern>Secondpage</url-pattern>
</servlet-mapping>
</web-app>