<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlett</display-name>
<!-- 
<servlet>
<servlet-name>mvc</servlet-name>
<servlet-class>com.bytecoder.MyServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<context-param>
<param-name>driver</param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</context-param>

<servlet>
<servlet-name>mvc2</servlet-name>
<servlet-class>com.bytecoder.MyServlet2</servlet-class>
<load-on-startup>2</load-on-startup>
<init-param>
<param-name>Raka</param-name>
<param-value>root</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>mvc</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>mvc2</servlet-name>
<url-pattern>/second</url-pattern>
</servlet-mapping> -->
</web-app>